body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-content {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
}

input[type="text"], input[type="number"], input[type="date"], textarea, select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 15px;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: skyblue;
}

#resultado {
    margin-top: 20px;
    font-size: 16px;
    color: black;
    text-align: center;
}
